body{
  background-color: rgb(208, 231, 239);
}
 
  #heading{
    margin-top: -2%;
    text-align: center;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: -2%;
    /* height: fit-content; */
    background-image: linear-gradient(  
    rgb(194, 194, 194),
    rgb(255, 255, 255) 10%,
    rgb(231, 231, 231) 20%,
    rgb(166, 225, 137)
    );
  } 
  section{
    background-image: linear-gradient(  
      /* rgb(194, 194, 194), */
      rgb(123, 198, 235) 10%,
      rgb(157, 201, 160) 20%
    );
  }
  
  h1 {
    /* margin: 30px 0px 20px; */
    /* margin-left: .5%; */
    /* text-align: center; */
    margin-top: 25pt;
    margin-bottom: 15px;
  }
  h2 {
    position: absolute;
    margin-left: 41%;
    margin-bottom: -35pt;
  }
  section {
    display: flex;
    height: 500px;
    width: 100%;
    margin-left: 0%;
    margin-right: 50pt;
    /* flex-direction: column;  media query baki*/
  }
  #middle {
    width: 25%;
    margin: 7% 0% 0% 3%;
    
  }
  @media (max-width: 1000px) {
    section {
      flex-direction: column;
    }
    div {
      width: 80% !important;
      margin: 10% !important;
    }
    #middle {
      display: flex;
    }  
  }
  div {
    width: 38%;
    margin: 1%;
  }
  button img {
    width: 30px;
    height: 30px;
  }
  #middle img {
    height: 60%;
    width: 80%;
    margin: 0%;
  }
  
  textarea {
    width: 100%;
    margin: 10% 0px 0px;
    box-shadow: 2px 2px 6px 3px #414bcf;
  }
  button {
    margin: 10px;
    font-weight: 600 !important;
    
  }

  main{
    position: absolute;
    margin-top: -15pt;    
  }
  main h2{
    text-align: center;
    font-family: fantasy;
    font-style: oblique;
  }
 
  #btn{
   border: 70% 70% ;
   display: flex;
   flex-direction: row;
   /* float: left; */
   margin-left: 30%;
   margin-top: -2%;
   
  }
  #btn div{
    margin-left: 4pt;
    
  }

  button{
    background-color: rgb(108, 108, 169);
    color: aliceblue;
    border-radius:10px
  
  }

  .flow_Chart img {
    width: 250%;
    height:250%;
  }

  footer{
  margin-top: 50%;
  background-color: rgba(61, 169, 188, 0.531);
  margin-bottom: -15%;
  }
  footer h2{
    margin-top: -15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  footer hr{
    margin-top: -22pt;
  }
  footer div{
    display: flex;
    flex-direction: row;
    margin-top: -7pt;
    margin-bottom: -23%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
  }
  footer img{
    max-width: max-content;
    height: 70%;
    width: 70%;  
  }
  footer .social{
    margin-left: 75pt;
  }
  footer .createdby{
    color: rgb(10, 10, 19) dark;
    text-align: center; 
  }
  
  footer  h3{
    text-align: center;
    text-shadow: #414bcf 2%;
    font-size: medium;
    color: blue;
    margin-top: 25%;
  }